* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#project-title {
  font-family: "Cabin Sketch", cursive;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.grid {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.grid-size-picker {
  color: white;
  background-color: #262626;
  padding: 12px 24px;
  border-radius: 8px;
}
