* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#project-title {
  font-family: "Cabin Sketch", cursive;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.grid {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
}

.grid-size-picker,
.black-btn,
.rainbow-btn,
.clear-grid {
  color: white;
  background-color: #262626;
  padding: 6px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  box-shadow: 0px 5px 0px 0px rgb(77, 115, 138);
}

button:hover {
  background-color: #3a3a3a;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0px 5px 0px 0px rgb(67, 88, 93);
}

.btn-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
